{% extends "template.html" %}
{% block content %}

    <div class="container animated fadeIn" id="main">
        <div class="section">




            <div class="row animated fadeIn" style="padding: 0">

                 <div class="col s12 m4">
                    <div class="icon-block">
                        <br>

                    </div>
                </div>
                <div class="col s6 m2 green lighten-4 hvr-sweep-to-right" style="height: 150px">
                    <div class="icon-block">
                        <a href="/record"><h2 class="center red-text"><i class="material-icons medium">backup</i></h2></a>
                        <h6 class="center" style="font-weight: 300;">Record</h6>
                    </div>
                </div>

                <div class="col s6 m2 orange lighten-4 hvr-sweep-to-right" style="height: 150px">
                    <div class="icon-block">
                        <a href="/access"><h2 class="center green-text"><i class="material-icons medium">explore</i></h2></a>
                        <h6 class="center" style="font-weight: 300;">Access</h6>

                    </div>
                </div>

                 <div class="col s12 m4">
                    <div class="icon-block">
                        <br>

                    </div>
                </div>

            </div>
            <div class="row" style="padding: 0">

                 <div class="col s12 m4">
                    <div class="icon-block">
                        <br>

                    </div>
                </div>

                                <div class="col s12 m4 hvr-sweep-to-right">

                                        <h5 class="center" style="font-weight: 200;">Narayana is here to help you with your anxiety. Press record to track
                                            your anxiety/dysfunctional thoughts or click access to see your data.
                                        </h5>
                                    </div>

                 <div class="col s12 m4">
                    <div class="icon-block">
                        <br>

                    </div>
                </div>


            </div>

        </div>
    </div>

{% endblock %}